/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F5F5F5;
	text-align: center;
}

.head {
	width: 100%;
	height: 50px;
	background-color: #006699;
	z-index: 2;
	position: fixed;
	/*固定导航栏*/
}

.ul {
	width: 1200px;
	margin: 0 auto;
	list-style-type: none
}

.li {
	position: relative;
	float: right;
}

.li1 {
	float: left;
	height: 50px;
}

.li>a {
	width: 110px;
	line-height: 50px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: aliceblue;
}

.li:hover .down {
	display: block;
}

.li:hover>a {
	background-color: #003366;
	text-decoration: underline;
	color: #F0F0F0;
}

.logo {
	height: 50px;
	width: 50px;
}

.li1>a {
	width: 400px;
	height: 50px;
	float: left;
}

.li1>a font{
	position: relative;
	bottom: 15px
}

.cctv>a {
	height: 50px;
	width: auto;
}

.down {
	width: 110px;
	background-color: #003366;
	position: absolute;
	display: none;
	left: auto;
}

.down a {
	display: block;
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	color: #85c0ff;
}

.down a:hover {
	text-decoration: underline;
	color: #F0F0F0;
}


.end {
	width: 100%;
	height: 50px;
	background-color: #006699;
	z-index: 2;
	position: fixed;
	/*固定导航栏*/
	bottom: 0;
	text-align: center;
}

span {
	top: 15px;
	position: relative;
	color: aliceblue;
}

.introduction {
	width: 1440px;
	height: 700px;
	position: relative;
	display:inline-block;
	
}


.box {
	position: relative;
	width: 200px;
	height: 500px;
	display: flex;
	transition: 0.5s;
	float: left;
	margin: 20px;
	top: 70px;
	overflow: hidden;
}

.box>img {
	display: block;
	width: 200px;
	height: 550px;
}

.box:hover {
	height:550px;
}

.sc {
	width: 200px;
	height: 550px;
	top: 593px;
	position: absolute;
	background-color: rgba(0, 108, 147, 0.47);
	transition: 0.3s;
	text-align: center;
	padding: 70px 0;
	color: #FFFFFF;
}

.sc>p {
	top: 50px;
	position: relative;
}

.bt {
	width: 100px;
	height: 40px;
	top: 200px;
	margin: auto;
	position: relative;
	cursor: pointer;
	
}

font>a{
	text-decoration: none;
	text-align: center;
	color: aliceblue;
}

.bt>span {
	display: block;
	position: absolute;
	transition: 0.3s;
	opacity: 0;
}

.top {
	width: 100px;
	height: 2px;
	background-color: aliceblue;
	top: 0px;
	left: -100px;
}

.left {
	width: 2px;
	height: 40px;
	background-color: aliceblue;
	top: 40px;
	left: 0px;
}

.bottom {
	width: 100px;
	height: 2px;
	background-color: aliceblue;
	top: 40px;
	left: 100px;
}

.right {
	width: 2px;
	height: 40px;
	background-color: aliceblue;
	top: -40px;
	left: 100px;
}

.bt>font {
	position: relative;
	top: 9px;
	
}

.bt:hover span {
	opacity: 1;
}

.bt:hover .bottom {
	left: 0px;
}

.bt:hover .top {
	left: 0px;
}

.bt:hover .left {
	top: 0px;
}

.bt:hover .right {
	top: 0px;
}

.box:hover .sc {
	top: 0px;
}


